@import "./MueblesAMedidaHeader/mueblesAMedidaHeader";
@import "./mueblesALaMedidaIconos/mueblesALaMedidaIconos";
@import "./mueblesAMedidaArticle/mueblesAMedidaArticle";

.mueblesAMedida {
  display: flex;
  flex-direction: column;
  align-items: center;
}
